################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ExpertEvaluation/bin
/ExpertEvaluation/obj/Debug
/ExpertEvaluation/obj/Release
/packages
*.bat
/ExpertEvaluation.v12.suo
